##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#if ($user.getStoredSearches().size()>0)
<table align="left" valign="top">
	<tr>
       <td>
           <b style="text-decoration:underline">Bundles</b><br>
		${user.outputBundleHTMLMenu()}
		
	  </td>
	</tr>
</table>
		   <br>
#end