#if($om.canEdit($user))
    #if(!$siteConfig.getBooleanValue("uiHideActionMenuRunAutomationScript"))
        <li id="abu_adl_runscript_li" class="yuimenuitem">
            <a id="abu_adl_runscript_a" class="ablLink uploadLink" style="display:block" href="" onclick="return false;" data-type="xnat:projectData" data-uri="$content.getURI("/data/projects/$om.getId()")">Run Automation Script</a>
        </li>
    #end
#end
