$navigation.setTemplate("/htmlOpen.vm")
## insert any template-specific <head> code here

$navigation.setTemplate("/bodyOpen.vm")
## insert any template-specific code here that needs to be directly after opening <body> tag


<!-- path: xdat-templates/layouts/Index -->


            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        $navigation.setTemplate("/DefaultTop.vm")<BR><BR><BR>
                    </td>
                </tr>
            </table>

            <table align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" colspan="2">
                        <div id="layout_content2" style="display:none;">Loading...</div>
                        <div id="layout_content">$screen_placeholder</div></td>
                </tr>
                <tr>
                    <td align="left" colspan="2">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td>$navigation.setTemplate("QuickSearch.vm")</td>
                                <td align="left" valign="top"><BR>
                                    <a href="$link.setPage("Help.vm")">Help</a><br>
                                    <a href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","search")">More Search Options</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <br>
            <table border="0" align="center" valign="top" class="withColor" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" valign="top">$navigation.setTemplate("SubMenu1.vm")</td>
                    <td align="left" valign="top">$navigation.setTemplate("SubMenu2.vm")</td>
                    <td align="left" valign="top">$navigation.setTemplate("SubMenu3.vm")</td>
                </tr>
            </table>

## insert any template-specific code here that needs to be directly before closing </body> tag

$navigation.setTemplate("/htmlClose.vm")
