#* @vtlvariable name="provider" type="org.nrg.xnat.security.provider.XnatAuthenticationProvider" *#
#* @vtlvariable name="login_methods" type="java.util.Collection" *#
#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#
<form name="form1" method="post" action="$content.getURI('')/login">
    #set($showLoginMethodRow = true)
    #if($login_methods.size() == 1)
        #set ($authProvider = $login_methods.get(0))
        <input type="hidden" id="login_method" name="login_method" value="$authProvider.left"/>
        #set($showLoginMethodRow = false)
    #end
    <table>
        #if ($showLoginMethodRow)
            <tr>
                #formLabel("Login via")
                <td>
                    ##$login_methods is customizable and is added to the context in Login.java in xdat.
                    #if(!$login_methods || $login_methods.size() == 0)
                        #xdatTextBox("login_method" $item "" $vr)
                    #elseif($login_methods && $login_methods.size() > 1)
                        <select id="login_method" name="login_method">
                            #foreach ($provider in $login_methods)
                                <option value="$provider.providerId">$provider.name</option>
                            #end
                        </select>
                    #end
                </td>
            </tr>
        #end
        <tr>
            #formLabel("User")
            <td><input type="text" id="username" name="username"></td>
        </tr>
        <tr>
            #formLabel("Password")
            <td><input type="password" name="password" autocomplete="off"></td>
        </tr>
        <tr>
            <td></td>
            <td align="right">
                #foreach($key in $!turbineUtils.GetDataParameterHash($data).keySet())
                    #if ($key!="action" && $key!="template" &&$key!="password" &&!$key.startsWith("xdat:user") &&$key!="username" &&$key!="exception" &&$key!="username" &&$key!="exception")
                        <input type="hidden" name="$key" value="$!turbineUtils.escapeHTML($!turbineUtils.GetPassedParameter($key,$data))">
                    #end
                #end
                <input type="submit" name="login" value="Login">
            </td>
        </tr>
    </table>
</form>
